@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {border-collapse: collapse;}
td    {padding: 10px;}

.sidebar{
min-height: 1px;
position: relative;
float: left;
width: 80px;
margin-left: 0%;
right: auto;
left: auto;
}
